# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.out

# Code coverage profiles and other test artifacts
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Editor/IDE-specific files and directories
.idea/         # JetBrains IDEs
.vscode/       # VS Code
*.swp          # Vim
*.swo          # Vim
.DS_Store      # macOS

dist/
output/